@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 300vh;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #f9baa2 0%,#e7dec4 30%,#03a3b4 70%,#3a2f64 100%);
}

.hidden{
    opacity: 0;
}

.timeRow{
    height: 100vh;
    position: relative;
    
    .rowTitle{
        position: absolute;
        top: 226px;
        left: 136px;
    }

    .row{
        .block{
            width: 100vw;
            height: 100vh;
            position: relative;

            img{
                position: absolute;
            }
        }
    }
}

#card{
    position: fixed;
    top: 0;
    left: 0;
    width: 800px;
    height: 1200px;
    background-color: #3a2f64;
    z-index: 2;

    #fixed{
        position: relative;
    }

    #variable{
        position: relative;
    }
}

#timerScreen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
}

#ui{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img{
        z-index: 1;
        position: absolute;
    }

    #arrow_prev{
        left: 150px;
    }

    #arrow_next{
        right: 150px;
    }

    #arrow_up{
        top: 56px;
    }

    #arrow_down{
        bottom: 56px;
    }

    #timerImg{
        z-index: 4;
        left: 26px;
    }
}
